@import 'fonts.scss';
@import 'global.scss';

@mixin flex-center {
    // write the css here
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    font-family: 'Arapey', Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4{
    font-weight: normal;
}

.hidden {
    display: none;
}

#main-ui{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
body main{
    width: 100%;
    min-height: 100%;
}

main section{
    position: absolute;
    width: 100%;
    height: 100%;
    .background, .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .background{
        .new,.old{
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &#project-detail{
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0 10%;
        background: white;
        .project{
            width: 100%;
            p{
                font-family: 'DarkerGrotesque', Arial, Helvetica, sans-serif;
            }
            h1{
                font-size: 152px;
                margin-bottom: 0;
            }
            article{
                width: 100%;
                figure img{
                    width: 100%;
                }
            }

            .color-pallet {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 10px;
                .color {
                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                    margin: 5px;
                }
            }
        }
    }
}

#social-links{
    position: absolute;
    @include flex-center;
    
    left: 27px;
    bottom: 60px;
    .dark{
        display: none;
    }
    .light{
        display: block;
    }
    a{
        width: 24px;
        margin: 0 30px;
        img{
            width: 100%;
        }
    }
    @media (max-height: 800px) {
        bottom: 30px;
        a{
            width: 20px;
        }
    }

    &.dark-theme{
        .dark{
            display: block;
        }
        .light{
            display: none;
        }
    }
}

@import 'landing.scss';
@import 'about.scss';
@import 'nav.scss';
@import 'elbohemio.scss';